.row{
    
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.input-group{
    width: 200%;
    
}

.form-control{
    width: 100%;
    
}

#userinput{
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    width: 30%;
    margin-top: 5%;
}

#loginbtn{
    background-color: lightseagreen;
    margin-top: 20%;
    margin-left: 50%;

} 

#social-icons{
   margin-top: 45%;
   align-content: center;
   padding-left: 10%;
}



